@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: rgb(102, 25, 173);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.384);

    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > #foto {
    display: block;
    background: rgb(102, 25, 173) url(../imagens/pexels-dennis-ariel-18149377.jpg) no-repeat;
    height: 180px;
    background-size: cover;
}

section#login > div#form {
    padding: 5px;
}


div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#form > p {
    text-align: justify;
    margin-bottom: 5px;
    font-size: 0.7em;
}

form label {
    display: none;
}

form > div.email {
    background-color: #878787b2;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.527);
}

form > div.email > span {
    color: #181818;
    width: 40px;
    font-size: 2em;
    padding: 5px;
}

div.email > input {
    background-color: #878787b2;
    font-size: 1em;
    width:calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-14px);
}

div.email > input:focus-within {
    background-color: white;
}

form > div.senha {
    background-color: #878787b2;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.527);
}

form > div.senha > span {
    color: #181818;
    width: 40px;
    font-size: 2em;
    padding: 5px;
}

div.senha > input {
    background-color: #878787b2;
    font-size: 1em;
    width:calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-14px);
}

div.senha > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: rgba(0, 0, 0, 0.507);
}

form > a.senha {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 10px;
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.507);
    border-radius: 5px;
    text-decoration: none;
}

form > a.senha:hover {
    background-color: rgba(0, 0, 0, 0.507);
}

form > a.senha > span {
    font-size: 0.8em;
}
